<h1>Spotify Express</h1>
<form action="/artist-search" method="GET">
  <div class="mb-3">
    <label for="artist" class="form-label"></label>
    <input name="artist" type="text" class="form-control" id="artist">
  </div>
  <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>