<div class="back" >

<div class="field">
<form action="/artist-search" method="get" id="name" class="white" >

		
		<input type="text" id="name" name="name" placeholder="artist's name" />
		<small></small>

<input class="button" type="submit" value="Search for Artist">
</form>
</div>

</div>
