<form action="/artist-search" method="get" id="name" >

		
		<input type="text" id="name" name="name" placeholder="artist's name" />
		<small></small>

<input type="submit" value="Search for Artist">




</form>

<h2>hey</h2>